<ion-header>
  <ion-toolbar color="secondary">
    <ion-button href="home" > 
      <div>
        <ion-icon name="home" ></ion-icon>
      </div>
    </ion-button>
<center><ion-title><h6 color="">FOOD HACKS</h6></ion-title></center>
  </ion-toolbar>
</ion-header>
<ion-content [translucent]> <center><Img src="/assets/food.png" style="float:center; width:200px;height:200px;margin:20px"><center>
  <style>
    div{
      text-align: center;
    }
    ion-content{
      --background: #ffffff;
    }

</style>
<ion-button href="pasta"size="medium" color="primary">PASTA</ion-button>
<ion-button href="fruits" size="medium" color="primary"><p>FRUITS</p></ion-button>
<ion-button href="meats" size="medium" color="primary"><p>MEATS</p></ion-button>
<br>
<ion-button href="bread" size="medium" color="primary"><p>BREADS</p></ion-button>
<ion-button href="grains" size="medium" color="primary">GRAINS</ion-button>
<ion-button href="vegetables" size="medium" color="primary">VEGETABLES</ion-button>
<br>
<br>
<ion-button href="add" size="large" color="primary">ADD RECIPE</ion-button>
<br>
<br>
<br>
<center><h2 style="color:#e4a12cf5"><b>TURN YOUR FOOD INTO</b></h2></center>
<center><h2 style="color:#e4a12cf5"><b>SOMETHING GOOD</b></h2></center>