<ion-header>
  <ion-toolbar color="secondary">
    <ion-button href="categories">Back</ion-button>
<center><ion-title><h6 color="">FOOD HACKS</h6></ion-title></center>
  </ion-toolbar>
</ion-header>
      <center><Img src="/assets/food.png" style="float:center; width:250px;height:100px;margin:12px"></center>
        <style>
          div{
            text-align: center;
          }
          ion-content{
            --background: #ffffff;
          }
      </style>
      <br>
      <br>
      <ion-list>
      <ion-item>
        <ion-select interface="popover" placeholder="Category">
           <ion-select-option value="c1">Pasta</ion-select-option>
           <ion-select-option value="c2">Fruits</ion-select-option>
           <ion-select-option value="c3">Meats</ion-select-option>
           <ion-select-option value="c4">Breads</ion-select-option>
          <ion-select-option value="c5">Grains</ion-select-option>
          <ion-select-option value="c6">Vegetables</ion-select-option>
      </ion-select>
      </ion-item>
      </ion-list>
                <center><ion-button href="">
                  <div>
                    <ion-icon name="image-outline"> </ion-icon>
                    <center><ion-label>Insert Photo</ion-label></center>
                  </div>
                </ion-button></center>
              <br>
              <br>      
          <center><ion-button size="large" color="primary">Save</ion-button></center>
           
       
     
