<ion-header>
  <ion-toolbar color="secondary">
    <ion-button href="categories">BACK</ion-button>
<center><ion-title><h6>FOOD HACKS</h6></ion-title></center>
  </ion-toolbar>
</ion-header>
<ion-content [translucent]> <center><Img src="/assets/food.png" style="float:center; width:220px;height:120px;margin:20px"><center>
  <style>
    div{
      text-align: center;
    }
    ion-content{
      --background: #ffffff;
    }

</style>

<br>
<br>
<center><Img src="/assets/fruit.jpg" style="float:center; width:120px;height:70px;margin:-30px "><center></center>
  <ion-card-header>
    <ion-card-title><h4 style="color:#008080"><b>F R U I T S</b></h4></ion-card-title>
  </ion-card-header>
  <ion-card style="margin:-5px">
    <ion-list>
      <ion-item >
        <ion-avatar slot="start">
          <img src="/assets/f1.png" />
        </ion-avatar>
        <ion-button size="medium" href="fwp">WatermelonRind Pickles</ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card style="margin:-5px">
  <ion-list>
     <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/f2.png" />
        </ion-avatar>
        <ion-button size="medium"href="fac">Apple Peel Chips</ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card style="margin:-5px">
    <ion-list>
       <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/f3.png" />
          </ion-avatar>
          <ion-button size="medium"href="fat">Apple Peel Tea</ion-button>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card style="margin:-5px">
      <ion-list>
         <ion-item>
            <ion-avatar slot="start">
              <img src="/assets/f4.png" />
            </ion-avatar>
            <ion-button size="medium"href="ffs">Fruit Smoothie</ion-button>
          </ion-item>
        </ion-list>
      </ion-card>
      <ion-card style="margin:-5px">
        <ion-list>
          <ion-item >
            <ion-avatar slot="start">
              <img src="/assets/f5.png" />
            </ion-avatar>
            <ion-button size="medium" href="fbc">Banana Peel Cake</ion-button>
          </ion-item>
        </ion-list>
      </ion-card>