<ion-header>
  <ion-toolbar color="secondary">
    <ion-button href="categories">BACK</ion-button>
<center><ion-title><h6>FOOD HACKS</h6></ion-title></center>
  </ion-toolbar>
</ion-header>
<ion-content [translucent]> <center><Img src="/assets/food.png" style="float:center; width:220px;height:120px;margin:20px"><center>
  <style>
    div{
      text-align: center;
    }
    ion-content{
      --background: #ffffff;
    }

</style>
<br>
<br>
<center><Img src="/assets/bread.jpg" style="float:center; width:120px;height:70px;margin:-30px "><center></center>
  <ion-card-header>
  <ion-card-subtitle></ion-card-subtitle>
  <ion-card-title><h4 style="color:#008080"><b>B R E A D S</b></h4></ion-card-title>
</ion-card-header>
<ion-card style="margin:-5px">
  <ion-list>
    <ion-item >
      <ion-avatar slot="start">
        <img src="/assets/b1.png" />
      </ion-avatar>
      <ion-button size="medium" href="bdp">DIY Pizza</ion-button>
    </ion-item>
  </ion-list>
</ion-card>
<ion-card style="margin:-5px">
<ion-list>
   <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/b2.png" />
      </ion-avatar>
      <ion-button size="medium"href="bc">Crouton</ion-button>
    </ion-item>
  </ion-list>
</ion-card>
<ion-card style="margin:-5px">
  <ion-list>
     <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/b3.png" />
        </ion-avatar>
        <ion-button size="medium"href="blc">Leftover Chicken Flatbread Pizza</ion-button>
      </ion-item>
    </ion-list>
  </ion-card>