<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-content [translucent]> <center><Img src="/assets/2.jpg" style=" border-radius:50%;float:center; width:200px;height:200px;margin:30px"><center>
  <style>
      div{
        text-align: center;
      }
      ion-content{
        --background: #008080;
      }
  </style> 
<ion-button href="categories" size="large" color="secondary">ENTER</ion-button>
